In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
import os
os.getcwd()

'C:\\Users\\Bhumika Rao\\data'

In [7]:
customers = pd.read_csv("customers.csv")
categories = pd.read_csv("categories.csv")
products = pd.read_csv("products.csv")
orders = pd.read_csv("orders.csv")
order_items = pd.read_csv("order_items.csv")
payments = pd.read_csv("payments.csv")

In [9]:
customers.head()

,customer_id,customer_name,email,city,country,signup_date
0,1,Robert Simmons,simpsonjohn@example.com,Matthewburgh,Estonia,2025-03-17
1,2,Jessica Davis,NaN,Phillipsmouth,Senegal,2024-03-14
2,3,Lindsey Fuentes,martinezdylan@example.com,Leetown,Andorra,2022-10-31
3,4,Tim Lowe,robertstiffany@example.net,South Elizabeth,Namibia,2023-12-29
4,5,Michael Warren,olowe@example.net,Port Charles,Guinea,2020-07-04

In [11]:
print("Customers:", customers.shape)
print("Categories:", categories.shape)
print("Products:", products.shape)
print("Orders:", orders.shape)
print("Order Items:", order_items.shape)
print("Payments:", payments.shape)

Customers: (20000, 6)
Categories: (8, 2)
Products: (1500, 5)
Orders: (250000, 4)
Order Items: (839963, 4)
Payments: (242594, 5)

In [13]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    20000 non-null  int64
 1   customer_name  20000 non-null  object
 2   email          17609 non-null  object
 3   city           20000 non-null  object
 4   country        20000 non-null  object
 5   signup_date    20000 non-null  object
dtypes: int64(1), object(5)
memory usage: 937.6+ KB

In [19]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839963 entries, 0 to 839962
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_item_id  839963 non-null  int64
 1   order_id       839963 non-null  int64
 2   product_id     839963 non-null  int64
 3   quantity       839963 non-null  int64
dtypes: int64(4)
memory usage: 25.6 MB

In [41]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242594 entries, 0 to 242593
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   payment_id      242594 non-null  int64
 1   order_id        242594 non-null  int64
 2   payment_method  242594 non-null  object
 3   payment_status  242594 non-null  object
 4   payment_date    223005 non-null  object
dtypes: int64(2), object(3)
memory usage: 9.3+ MB

In [43]:
customers.isnull().sum()

customer_id         0
customer_name       0
email            2391
city                0
country             0
signup_date         0
dtype: int64

In [19]:

tables = {
    "Customers": customers,
    "Orders": orders,
    "Order_Items": order_items,
    "Payments": payments,
    "Products": products,
    "Categories": categories
}
tables

{'Customers':        customer_id      customer_name                       email  \
 0                1     Robert Simmons     simpsonjohn@example.com
 1                2      Jessica Davis                         NaN
 2                3    Lindsey Fuentes   martinezdylan@example.com
 3                4           Tim Lowe  robertstiffany@example.net
 4                5     Michael Warren           olowe@example.net
 ...            ...                ...                         ...
 19995        19996         Laura Cruz       allison51@example.net
 19996        19997       Kayla Farmer         alexa46@example.net
 19997        19998        Monica Peck        teresa82@example.net
 19998        19999        Erica Perez   spenceralicia@example.com
 19999        20000  Mr. Donald Madden      haleywells@example.net

                   city      country signup_date
 0         Matthewburgh      Estonia  2025-03-17
 1        Phillipsmouth      Senegal  2024-03-14
 2              Leetown      Andorra  2022-10-31
 3      South Elizabeth      Namibia  2023-12-29
 4         Port Charles       Guinea  2020-07-04
 ...                ...          ...         ...
 19995     Onealchester      Grenada  2020-10-17
 19996       Archerstad        Congo  2021-02-09
 19997   New Trevorside       Serbia  2023-03-08
 19998       New Marcus  Philippines  2022-10-07
 19999       West Jamie  Switzerland  2021-01-27

 [20000 rows x 6 columns],
 'Orders':         order_id  customer_id  order_date order_status
 0              1         6499  2025-02-22    Delivered
 1              2         8748  2023-10-02     Returned
 2              3         3194  2025-07-10    Delivered
 3              4        14514  2022-06-24    Delivered
 4              5         6785  2025-05-26    Cancelled
 ...          ...          ...         ...          ...
 249995    249996        16536  2022-12-27    Delivered
 249996    249997         4466  2022-02-24    Delivered
 249997    249998        17375  2023-08-16    Cancelled
 249998    249999        12370  2024-03-31    Delivered
 249999    250000         7079  2024-01-17    Delivered

 [250000 rows x 4 columns],
 'Order_Items':         order_item_id  order_id  product_id  quantity
 0                   1         1        1091         1
 1                   2         1        1260         1
 2                   3         2         863         2
 3                   4         2        1151         1
 4                   5         3         888         3
 ...               ...       ...         ...       ...
 839958         839959    249999         613         4
 839959         839960    250000         683         1
 839960         839961    250000         367         1
 839961         839962    250000         522         3
 839962         839963    250000         135         2

 [839963 rows x 4 columns],
 'Payments':         payment_id  order_id payment_method payment_status payment_date
 0                1         1            UPI        Success   2025-02-27
 1                2         2            COD       Refunded   2023-10-06
 2                3         3            UPI        Success   2025-07-13
 3                4         4            COD        Success   2022-06-24
 4                5         5           Card        Success   2025-05-31
 ...            ...       ...            ...            ...          ...
 242589      249996    249996           Card        Success   2022-12-31
 242590      249997    249997            COD        Success   2022-03-01
 242591      249998    249998     NetBanking        Success   2023-08-19
 242592      249999    249999            COD        Success   2024-04-01
 242593      250000    250000           Card        Success   2024-01-20

 [242594 rows x 5 columns],
 'Products':       product_id     product_name  category_id    price launch_date
 0              1         Admit My            5  2646.69  2021-10-17
 1              2        Size They            1   484.77  2022-04-30
 2              3    Group Society            3   731.31  2022-08-15
 3              4    Young Defense            3  1435.80  2025-02-11
 4              5       Best Field            3  1371.77  2022-08-26
 ...          ...              ...          ...      ...         ...
 1495        1496        How Hotel            2  2064.58  2023-08-21
 1496        1497        Leg Paper            7  2073.15  2025-01-18
 1497        1498     Answer Trade            5  1543.84  2021-09-11
 1498        1499        Thing Two            3  2587.25  2021-02-07
 1499        1500  Recently Member            4   505.78  2024-10-14

 [1500 rows x 5 columns],
 'Categories':    category_id category_name
 0            1   Electronics
 1            2       Fashion
 2            3          Home
 3            4         Books
 4            5        Beauty
 5            6        Sports
 6            7          Toys
 7            8       Grocery}

PART 1: Data Understanding & EDA

In [21]:
#1.	How many rows and columns are present in each table?
for name, df in tables.items():
    print(f"{name} table:")
    print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")
    print("-" * 40)

Customers table:
Rows: 20000, Columns: 6
----------------------------------------
Orders table:
Rows: 250000, Columns: 4
----------------------------------------
Order_Items table:
Rows: 839963, Columns: 4
----------------------------------------
Payments table:
Rows: 242594, Columns: 5
----------------------------------------
Products table:
Rows: 1500, Columns: 5
----------------------------------------
Categories table:
Rows: 8, Columns: 2
----------------------------------------

This code iterates through each table in the tables dictionary and checks its structure. For every table, it prints the table name along with the total number of rows and columns using the shape attribute of the DataFrame. This helps to quickly understand the size of each table before performing further analysis.

In [29]:
#2.	What percentage of missing values exists in each column?
for name, df in tables.items():
    print(f"\n{name} Table - Missing Value Percentage")
    missing_percent = (df.isnull().sum() / len(df)) * 100
    print(missing_percent)

Customers Table - Missing Value Percentage
customer_id       0.000
customer_name     0.000
email            11.955
city              0.000
country           0.000
signup_date       0.000
dtype: float64

Orders Table - Missing Value Percentage
order_id        0.0
customer_id     0.0
order_date      0.0
order_status    0.0
dtype: float64

Order_Items Table - Missing Value Percentage
order_item_id    0.0
order_id         0.0
product_id       0.0
quantity         0.0
dtype: float64

Payments Table - Missing Value Percentage
payment_id        0.000000
order_id          0.000000
payment_method    0.000000
payment_status    0.000000
payment_date      8.074808
dtype: float64

Products Table - Missing Value Percentage
product_id      0.0
product_name    0.0
category_id     0.0
price           0.0
launch_date     0.0
dtype: float64

Categories Table - Missing Value Percentage
category_id      0.0
category_name    0.0
dtype: float64

## Percentage of Missing Values in Each Column

- The analysis shows the proportion of missing values present in each column
  across all tables.
- Most columns have **0% missing values**, indicating good data completeness.
- A few columns contain missing values, which may require appropriate
  data cleaning techniques such as imputation or removal.
- Understanding missing value percentages helps in deciding suitable
  data preprocessing strategies.

In [31]:
# 3.	Which columns have the highest missing values and why might this happen in real systems?
for name, df in tables.items():
    missing_percent = (df.isnull().sum() / len(df)) * 100
    highest_missing = missing_percent[missing_percent > 0].sort_values(ascending=False)
    
    print(f"\n{name} Table - Columns with Missing Values")
    if highest_missing.empty:
        print("No missing values in this table.")
    else:
        print(highest_missing)

Customers Table - Columns with Missing Values
email    11.955
dtype: float64

Orders Table - Columns with Missing Values
No missing values in this table.

Order_Items Table - Columns with Missing Values
No missing values in this table.

Payments Table - Columns with Missing Values
payment_date    8.074808
dtype: float64

Products Table - Columns with Missing Values
No missing values in this table.

Categories Table - Columns with Missing Values
No missing values in this table.

## Columns with Highest Missing Values and Possible Reasons

- The columns with the highest percentage of missing values are typically
  optional or condition-dependent fields.
- In real-world e-commerce systems, missing values may occur due to:
  - Optional user inputs (e.g., secondary address, phone number).
  - Orders that were canceled or not completed, leading to missing delivery
    or payment information.
  - System or data integration issues where information is collected from
    multiple sources.
  - Data entry errors or incomplete transaction records.
- Such missing values are common in real systems and require appropriate
  handling strategies such as imputation or exclusion based on business context.

In [33]:
#4.	What are the unique values in all categorical columns?
for name, df in tables.items():
    print(f"\n{name} Table - Categorical Columns and Unique Values")
    
    categorical_cols = df.select_dtypes(include=['object']).columns
    
    if len(categorical_cols) == 0:
        print("No categorical columns in this table.")
    else:
        for col in categorical_cols:
            print(f"\nColumn: {col}")
            print(df[col].unique())

Customers Table - Categorical Columns and Unique Values

Column: customer_name
['Robert Simmons' 'Jessica Davis' 'Lindsey Fuentes' ... 'Monica Peck'
 'Erica Perez' 'Mr. Donald Madden']

Column: email
['simpsonjohn@example.com' nan 'martinezdylan@example.com' ...
 'teresa82@example.net' 'spenceralicia@example.com'
 'haleywells@example.net']

Column: city
['Matthewburgh' 'Phillipsmouth' 'Leetown' ... 'Archerstad'
 'New Trevorside' 'New Marcus']

Column: country
['Estonia' 'Senegal' 'Andorra' 'Namibia' 'Guinea' 'Saint Helena'
 'Sierra Leone' 'British Indian Ocean Territory (Chagos Archipelago)'
 'Mauritius' 'Grenada' 'Ireland' 'France' 'Taiwan' 'Algeria'
 'Central African Republic' 'Swaziland' 'Hong Kong' 'Cyprus'
 'Saint Pierre and Miquelon' 'Northern Mariana Islands' 'Haiti'
 'Kyrgyz Republic' 'Guatemala' 'Reunion' 'Turkmenistan' 'San Marino'
 'Aruba' 'Maldives' 'Gabon' "Lao People's Democratic Republic"
 'Papua New Guinea' 'Belgium' 'Mozambique' 'Anguilla'
 'Netherlands Antilles' 'Turkey' 'Tajikistan' 'Togo' 'Micronesia'
 'Liechtenstein' 'Uzbekistan' 'French Southern Territories' 'Mauritania'
 'United Arab Emirates' 'Libyan Arab Jamahiriya' 'Austria' 'Sri Lanka'
 'Mayotte' 'Congo' 'Seychelles' 'United States of America'
 'South Georgia and the South Sandwich Islands' 'Germany' 'Isle of Man'
 'Mexico' 'Albania' 'North Macedonia' 'Monaco' 'Marshall Islands'
 'Sao Tome and Principe' 'Sweden' 'Nicaragua' 'Argentina' 'Palau'
 'El Salvador' 'Peru' 'Djibouti' 'Tanzania' 'Malawi' 'Liberia' 'Japan'
 'Venezuela' 'Holy See (Vatican City State)' 'Brazil' 'Croatia' 'Vietnam'
 'Bouvet Island (Bouvetoya)' 'Kazakhstan' 'Bhutan' 'Switzerland'
 'Suriname' 'Slovakia (Slovak Republic)' 'Faroe Islands' 'Australia'
 'Fiji' 'Egypt' 'Cambodia' 'Dominica' 'Cape Verde'
 'Heard Island and McDonald Islands' 'Myanmar' 'Ecuador' 'Greece' 'Jordan'
 'Lesotho' 'United States Virgin Islands' 'Tonga' 'Serbia' 'India'
 'American Samoa' 'Botswana' 'Qatar' 'Nepal' 'Romania' 'Montenegro'
 'Guernsey' 'Georgia' 'Chile' 'Niger' 'Yemen' 'Tuvalu' 'China'
 'British Virgin Islands' 'Solomon Islands' 'Iceland' 'Philippines'
 'Saudi Arabia' 'Czech Republic' 'Brunei Darussalam' 'French Guiana'
 'Vanuatu' 'Luxembourg' 'Cayman Islands' 'Syrian Arab Republic' 'Honduras'
 'Cocos (Keeling) Islands' 'Benin' 'Cook Islands' 'Denmark' 'Azerbaijan'
 'Israel' 'Ukraine' 'Uganda' 'Korea' 'Malaysia' 'Western Sahara'
 'Palestinian Territory' 'Kenya' 'Montserrat' 'Guadeloupe' 'Macao'
 'Saint Vincent and the Grenadines' 'Angola' 'Saint Barthelemy'
 'Antarctica (the territory South of 60 deg S)' 'Nigeria' 'Guyana' 'Guam'
 'Netherlands' 'Pakistan' 'South Africa' 'Puerto Rico' 'Greenland'
 'Eritrea' 'Italy' 'Morocco' 'Afghanistan' 'Bosnia and Herzegovina'
 'Saint Lucia' 'Burundi' 'Iraq' 'Tokelau' 'Norfolk Island' 'Bolivia'
 'Belize' 'Jamaica' 'Wallis and Futuna' 'Timor-Leste' 'Moldova' 'Norway'
 'Malta' 'United Kingdom' 'Martinique' 'Bermuda' 'Lithuania'
 'Burkina Faso' 'Finland' 'Saint Kitts and Nevis' 'Kuwait' 'Jersey'
 'Colombia' 'Iran' 'Turks and Caicos Islands' 'Kiribati'
 'Antigua and Barbuda' 'Rwanda' 'Cuba' 'Lebanon' 'Somalia' 'Thailand'
 'Madagascar' 'Bangladesh' 'Hungary' 'Trinidad and Tobago' 'Portugal'
 'Sudan' 'Singapore' 'Panama' 'Tunisia' 'Bahamas' 'Zambia' 'Bahrain'
 'Gambia' 'Russian Federation' 'Armenia' 'Mali' 'Ethiopia' 'Belarus'
 'United States Minor Outlying Islands' 'Paraguay' 'French Polynesia'
 'Poland' 'New Caledonia' 'Nauru' 'Svalbard & Jan Mayen Islands' 'Samoa'
 'Saint Martin' 'Pitcairn Islands' 'Latvia' 'Guinea-Bissau' 'Uruguay'
 'Bulgaria' 'Slovenia' 'Christmas Island' 'Mongolia' 'Canada'
 "Cote d'Ivoire" 'Chad' 'Dominican Republic' 'Barbados' 'Niue' 'Ghana'
 'New Zealand' 'Cameroon' 'Comoros' 'Indonesia'
 'Falkland Islands (Malvinas)' 'Spain' 'Gibraltar' 'Costa Rica' 'Zimbabwe'
 'Equatorial Guinea' 'Oman']

Column: signup_date
['2025-03-17' '2024-03-14' '2022-10-31' ... '2024-04-03' '2022-04-20'
 '2021-05-11']

Orders Table - Categorical Columns and Unique Values

Column: order_date
['2025-02-22' '2023-10-02' '2025-07-10' ... '2022-06-20' '2025-05-12'
 '2025-03-12']

Column: order_status
['Delivered' 'Returned' 'Cancelled']

Order_Items Table - Categorical Columns and Unique Values
No categorical columns in this table.

Payments Table - Categorical Columns and Unique Values

Column: payment_method
['UPI' 'COD' 'Card' 'NetBanking']

Column: payment_status
['Success' 'Refunded' 'Failed']

Column: payment_date
['2025-02-27' '2023-10-06' '2025-07-13' ... '2022-01-04' '2024-09-09'
 '2022-12-02']

Products Table - Categorical Columns and Unique Values

Column: product_name
['Admit My' 'Size They' 'Group Society' ... 'Answer Trade' 'Thing Two'
 'Recently Member']

Column: launch_date
['2021-10-17' '2022-04-30' '2022-08-15' ... '2023-02-01' '2023-08-21'
 '2025-01-18']

Categories Table - Categorical Columns and Unique Values

Column: category_name
['Electronics' 'Fashion' 'Home' 'Books' 'Beauty' 'Sports' 'Toys' 'Grocery']

## Unique Values in Categorical Columns

- Categorical columns contain qualitative information such as order status,
  payment type, product category, and customer attributes.
- The unique values in these columns represent different states or categories
  present in the e-commerce system.
- Understanding unique categorical values helps in identifying valid categories,
  detecting inconsistencies, and planning appropriate encoding or grouping
  during further analysis.

In [35]:
#5.	Are there duplicate records in any table?
for name, df in tables.items():
    duplicate_count = df.duplicated().sum()
    print(f"{name} Table - Duplicate Records: {duplicate_count}")

Customers Table - Duplicate Records: 0
Orders Table - Duplicate Records: 0
Order_Items Table - Duplicate Records: 0
Payments Table - Duplicate Records: 0
Products Table - Duplicate Records: 0
Categories Table - Duplicate Records: 0

## Duplicate Records Analysis

- Duplicate records were checked across all tables to ensure data quality.
- Some tables may contain duplicate entries due to repeated data entry,
  system synchronization issues, or data merging from multiple sources.
- Identifying and handling duplicates is important to avoid biased analysis
  and incorrect insights.

In [39]:
#6.	What is the date range of the dataset?
orders['order_date'] = pd.to_datetime(orders['order_date'])
payments['payment_date'] = pd.to_datetime(payments['payment_date'])
print("Orders Date Range:")
print("Start:", orders['order_date'].min())
print("End:", orders['order_date'].max())

print("\nPayments Date Range:")
print("Start:", payments['payment_date'].min())
print("End:", payments['payment_date'].max())

Orders Date Range:
Start: 2022-01-04 00:00:00
End: 2026-01-03 00:00:00

Payments Date Range:
Start: 2022-01-04 00:00:00
End: 2026-01-08 00:00:00

## Date Range of the Dataset

- The Orders data ranges from the earliest order date to the latest order date.
- The Payments data ranges from the earliest payment date to the latest payment date.
- These date ranges indicate the overall time period covered by the dataset.
- Analyzing the date range helps in understanding seasonal and time-based trends.

In [41]:
# 7.How many customers have missing email addresses?
customers['email'].isnull().sum()

2391

This analysis identifies the number of customers whose email addresses are missing in the dataset. Missing email information may occur because providing an email address is optional during registration or due to incomplete customer profiles. Understanding this helps assess data completeness and the reliability of customer contact information.

In [45]:
# 8. What proportion of orders are Delivered, Cancelled, and Returned?
orders['order_status'].value_counts(normalize=True) * 100
# This analysis calculates the percentage distribution of different order statuses such as Delivered, Cancelled, and Returned. It helps evaluate the overall performance of the order fulfillment process and provides insight into customer satisfaction and operational efficiency.

order_status
Delivered    82.0372
Cancelled    11.9692
Returned      5.9936
Name: proportion, dtype: float64

In [47]:
# 9.What is the distribution of number of orders per customer?
orders_per_customer = orders['customer_id'].value_counts()
orders_per_customer.describe()

count    20000.00000
mean        12.50000
std          3.53108
min          2.00000
25%         10.00000
50%         12.00000
75%         15.00000
max         28.00000
Name: count, dtype: float64

This analysis examines how many orders each customer has placed. It helps identify customer purchasing behavior, including one-time buyers and repeat customers. Understanding this distribution is useful for customer segmentation and retention strategies.

In [70]:
# 10. How many customers signed up but never placed an order?
customers['customer_id'] = customers['customer_id'].astype(str)
orders['customer_id'] = orders['customer_id'].astype(str)

customers_with_orders = orders['customer_id'].unique()
customers_no_orders = customers[~customers['customer_id'].isin(customers_with_orders)]

len(customers_no_orders)

0

In [ ]:
This analysis identifies customers who registered on the platform but did not place any orders. Such customers may represent lost opportunities due to lack of engagement, usability issues, or trust concerns. This insight is useful for improving customer conversion and onboarding strategies.

 PART 2: Data Cleaning & Quality Checks

In [23]:
# 11. How should missing email IDs be handled and why?
missing_emails = customers['email'].isnull().sum()
missing_emails

2391

Description: 
Missing email IDs should first be identified to understand the extent of missing data. Email IDs are essential for customer communication, authentication, and marketing analysis. These missing values can be handled by updating them from reliable external sources if available, or by leaving them as missing to avoid introducing incorrect or misleading information. Ignoring or wrongly filling email IDs may lead to inaccurate customer insights.

In [25]:
# 12. How many payment records have missing payment dates?
missing_payment_dates = payments['payment_date'].isnull().sum()
missing_payment_dates

19589

Description:
Payment dates are crucial for financial tracking and time-based analysis. Missing payment dates usually indicate failed, pending, or incomplete transactions. Identifying such records helps ensure accurate revenue reporting and prevents errors in payment trend analysis

In [27]:
# 13. Are there orders without corresponding payment records?
orders_without_payments = orders[~orders['order_id'].isin(payments['order_id'])]
len(orders_without_payments)

7406

Description:
Orders without corresponding payment records indicate unpaid, cancelled, or failed transactions. Such inconsistencies highlight gaps in the transaction flow and must be investigated to ensure data integrity and accurate order fulfillment analysis.

In [29]:
# 14. Are there products that were never sold?
unsold_products = products[~products['product_id'].isin(order_items['product_id'])]
len(unsold_products)

0

Description:
Products that never appear in the order items table are considered unsold. Identifying these products helps businesses understand low-demand items, optimize inventory, and make informed decisions about product discontinuation or promotion.

In [31]:
# 15. Are there orders without any order items?
orders_without_items = orders[~orders['order_id'].isin(order_items['order_id'])]
len(orders_without_items)

10032

Description:
Orders without order items indicate incomplete or erroneous records. Such orders cannot be fulfilled and may arise due to system errors or incomplete order processing. These records should be reviewed or removed from analysis.

In [33]:
# 16. How do you detect and handle outlier product prices?
Q1 = products['price'].quantile(0.25)
Q3 = products['price'].quantile(0.75)
IQR = Q3 - Q1

outliers = products[
    (products['price'] < Q1 - 1.5 * IQR) |
    (products['price'] > Q3 + 1.5 * IQR)
]
len(outliers)

20

Description:
Outliers are unusually high or low prices that can distort statistical analysis.
The Interquartile Range (IQR) method helps identify these extreme values. Once detected, outliers should be verified for data entry errors or treated appropriately to ensure reliable price analysis.

In [35]:
# 17. Are there customers with unrealistic ordering behavior?
order_counts = orders.groupby('customer_id').size()
unrealistic_customers = order_counts[
    order_counts > order_counts.mean() + 3 * order_counts.std()
]
len(unrealistic_customers)

41

Description:
Customers placing an unusually high number of orders compared to the average may indicate bulk purchases, fraudulent behavior, or data inconsistencies. Detecting such patterns helps improve fraud detection and customer behavior analysis.

In [37]:
# 18. Are there inconsistencies between order status and payment status?
merged_data = orders.merge(payments, on='order_id', how='left')

inconsistencies = merged_data[
    (merged_data['order_status'] == 'delivered') &
    (merged_data['payment_status'] != 'success')
]

len(inconsistencies)

0

Description:
Delivered orders should always have successful payment records. 
Any mismatch between order status and payment status indicates data inconsistency or process failure and needs immediate attention.

In [45]:
# 19. How are returned orders reflected in the payments table?
returned_orders = orders[orders['order_status'] == 'returned']
returned_payments = payments[payments['order_id'].isin(returned_orders['order_id'])]

returned_payments.head()

Empty DataFrame
Columns: [payment_id, order_id, payment_method, payment_status, payment_date]
Index: []

Description:
Returned orders are typically reflected as refunds or reversed payments in the payments table. Reviewing these records ensures accurate financial reconciliation and return management.

In [47]:
# 20. Delivered orders with failed or missing payments
successful_payments = payments[payments['payment_status'] == 'success']['order_id']

failed_or_missing = orders[
    (orders['order_status'] == 'delivered') &
    (~orders['order_id'].isin(successful_payments))
]

len(failed_or_missing)

0

Description:
Delivered orders without successful payments represent serious operational or data integrity issues.
Identifying such records helps ensure proper revenue tracking and prevents financial discrepancies.

PART 3: Feature Engineering

In [64]:
# 21. Total order value per order

# Merge to get price
order_items = order_items.merge(
    products[['product_id', 'price']],
    on='product_id',
    how='left'
)

# Total order value
order_value = (
    order_items.assign(item_total=order_items['price'] * order_items['quantity'])
    .groupby('order_id')['item_total']
    .sum()
    .reset_index(name='total_order_value')
)

order_value.head()

   order_id  total_order_value
0         1            3654.96
1         2            3431.89
2         3            8840.70
3         4           52851.90
4         5           28425.04

Description:
Since the order_items table does not contain price information, it is merged with the products table to obtain product prices. The total order value is calculated by multiplying price with quantity for each item and summing these values for each order. This gives the total amount spent per order.

In [66]:
# 22. What is the total spend per customer?
total_spend = order_value.merge(
    orders[['order_id', 'customer_id']], on='order_id'
)
total_spend_per_customer = (
    total_spend.groupby('customer_id')['total_order_value'].sum()
)
total_spend_per_customer.head()

customer_id
1    219001.80
2    356585.80
3    161960.82
4    131281.67
5    115549.27
Name: total_order_value, dtype: float64

Description
Total spend per customer is calculated by summing the value of all orders placed by each customer. This helps identify high-value customers and understand how much revenue each customer contributes overall.

In [68]:
# 23. How many orders has each customer placed?

orders_per_customer = orders.groupby('customer_id')['order_id'].count()
orders_per_customer.head()

customer_id
1    12
2    12
3    14
4    11
5    10
Name: order_id, dtype: int64

Description
This metric measures customer purchase frequency by counting how many orders each customer has placed. Customers with higher order counts are more engaged and loyal, while lower counts may indicate occasional or inactive customers.

In [70]:
# 24. What is the average order value (AOV) per customer?

aov_per_customer = total_spend_per_customer / orders_per_customer
aov_per_customer.head()

customer_id
1    18250.150000
2    29715.483333
3    11568.630000
4    11934.697273
5    11554.927000
dtype: float64

Average Order Value (AOV) represents the average amount a customer spends per order. This metric helps evaluate customer spending behavior and is useful for pricing strategies, promotions, and upselling decisions.

In [72]:
# 25. What is customer recency (days since last order)?
# This calculates how recently each customer placed their last order.

orders['order_date'] = pd.to_datetime(orders['order_date'])

last_order_date = orders.groupby('customer_id')['order_date'].max()
customer_recency = (orders['order_date'].max() - last_order_date).dt.days

customer_recency.head()

customer_id
1    390
2    216
3    111
4     39
5      3
Name: order_date, dtype: int64

Description:
Customer recency measures the number of days since a customers most recent order. Lower recency values indicate active customers, while higher values suggest inactive or churn-risk customers. This metric is commonly used in RFM analysis.

In [74]:
# 26. What is the total revenue generated by each product?
product_revenue = (
    order_items.assign(item_total=order_items['price'] * order_items['quantity'])
    .groupby('product_id')['item_total']
    .sum()
)

product_revenue.head()

product_id
1    3297775.74
2     662680.59
3     969717.06
4    1923972.00
5    1904016.76
Name: item_total, dtype: float64

 Here Revenue is calculated as price multiplied by quantity sold.
 This calculation shows how much revenue each product has generated over time. It helps identify top-selling products, low-performing products, and overall product contribution to business revenue.

In [76]:
# 27. Create a payment success flag (1 = success, 0 = failed/refunded)
# This converts payment status into a numeric indicator.

payments['payment_success_flag'] = (
    payments['payment_status'] == 'success'
).astype(int)

payments.head()

,payment_id,order_id,payment_method,payment_status,payment_date,payment_success_flag
0,1,1,UPI,Success,2025-02-27,0
1,2,2,COD,Refunded,2023-10-06,0
2,3,3,UPI,Success,2025-07-13,0
3,4,4,COD,Success,2022-06-24,0
4,5,5,Card,Success,2025-05-31,0

Description:
The payment success flag converts categorical payment statuses into numerical values. This simplifies filtering, aggregation, and modeling of payment outcomes, especially for financial analysis and machine learning tasks.

In [78]:
# 28. What is the customer lifetime value (CLV)?

clv = total_spend_per_customer.reset_index(
    name='customer_lifetime_value'
)
clv.head()

   customer_id  customer_lifetime_value
0            1                219001.80
1            2                356585.80
2            3                161960.82
3            4                131281.67
4            5                115549.27

CLV is calculated as total spend made by each customer.
Customer Lifetime Value (CLV) represents the total revenue generated by a customer throughout their relationship with the business. It helps prioritize valuable customers, improve retention strategies, and optimize marketing efforts.

In [80]:
# 29. What is the monthly revenue and monthly order count?
# This groups orders by month to analyze performance over time.

orders['month'] = orders['order_date'].dt.to_period('M')

monthly_data = orders.merge(order_value, on='order_id')

monthly_summary = monthly_data.groupby('month').agg(
    monthly_revenue=('total_order_value', 'sum'),
    monthly_order_count=('order_id', 'count')
)

monthly_summary.head()

         monthly_revenue  monthly_order_count
month
2022-01      73226206.87                 4741
2022-02      69010306.56                 4583
2022-03      78788032.88                 5126
2022-04      74579168.47                 4960
2022-05      78438390.63                 5135

Description:
This analysis tracks how revenue and order volume change over time on a monthly basis. It is useful for identifying trends, seasonality, growth patterns, and overall business performance.

In [82]:
# 30. What is the product-level return rate?
# Return rate = number of returned orders / total number of orders for each product.

returned_order_ids = orders[
    orders['order_status'] == 'returned'
]['order_id']

product_returns = (
    order_items[order_items['order_id'].isin(returned_order_ids)]
    .groupby('product_id')
    .size()
)
product_sales = order_items.groupby('product_id').size()
product_return_rate = (product_returns / product_sales).fillna(0)
product_return_rate.head()

product_id
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
dtype: float64

Description:
Product-level return rate measures how frequently a product is returned compared to how often it is sold. A high return rate may indicate quality issues, misleading product descriptions, or customer dissatisfaction. Monitoring this metric helps improve product quality and reduce financial losses.

PART 4: Univariate Analysis (Visualizations)